body{
margin:0;
padding:0;
background:url(retro-g38e97af7b_1920.jpg);
background-size:cover;

}
.signupbox
{
width:320px;
height:420px;
background:#F1E1A6;
color:#fff;
top:50%;
left:50%;
position:absolute;
transform:translate(-50%,-50%);
box-sizing:border-box;
padding:30px 30px;
border: 3px solid black;
}
.pngwing
{
border-radius:50%;
position:absolute;
top:-50px;
left:115px;
}
h1{
margin:0;
padding:0 0 20px;
text-align:center;
font-size:25px;
color:black;
}
.signupbox p {
margin:0;
padding:0;
font-weight:bold;
color:black;
}
.signupbox input {
width:100%;
margin-bottom:20px;
}
.signupbox input[type="text"],input[type="password"]
{
border:none;
border-bottom:1px solid black;
background:transparent;
outline:none;
height:40px;
color:black;
fonr-size:16px;
}
.signupbox input[type="submit"]
{
border:none;
outline:none;
height:40px;
background:black;
color:white;
fonr-size:22px;
cursor:pointer;
}
.signupbox p{
color:black;
font-size:22px;
}
.form button[type="button"]
{

.signupbox p{
color:black;
font-size:22px;
}

